<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>

<div class="container">

    <div th:replace="fragments/general :: navbar"></div>

    <div>
        <div th:if="${vitaminPresent}">
            <span>Vitamines gegeven!</span>
        </div>
        <div th:unless="${vitaminPresent}">
            <form class="has-validation" th:action="@{/vitamin/new}" method="post" th:object="${vitamin}">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="vitamins" th:field="*{given}">
                    <label class="form-check-label" for="vitamins">Vitamine Check?</label>
                </div>
                <button class="btn btn-primary">Opslaan</button>
            </form>
        </div>

    </div>

    <div>
        <table class="table">
            <tr>
                <td>wanneer</td>
                <td>moedermelk</td>
                <td>borst</td>
                <td>aantal minuten</td>
            </tr>
            <tr th:each="feeding : ${feedingList}">
                <td><a th:text="${feeding.timeGiven}"></a></td>
                <td th:if="${feeding.breastMilk}">ja</td>
                <td th:unless="${feeding.breastMilk}">nee</td>
                <td><a th:text="${feeding.breast}"></a></td>
                <td><a th:text="${feeding.timeSpent}"></a></td>
            </tr>
        </table>
    </div>

    <div>
        <table class="table">
            <tr>
                <td>Ontlasting</td>
                <td><a th:text="${amountOfPoo}"></a></td>
            </tr>
            <tr>
                <td>Urine</td>
                <td><a th:text="${amountOfPee}"></a></td>
            </tr>
            <tr th:each="note : ${notes}">
                <td><a th:text="${note}"></a></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div>
        <form class="has-validation" th:action="@{/excrement/new}" method="post" th:object="${excrement}">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="poo" th:field="*{poo}">
                <label class="form-check-label" for="poo">Ontlasting</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="pee" th:field="*{pee}">
                <label class="form-check-label" for="pee">Urine</label>
            </div>
            <div class="form-group">
                <label for="note">Opmerkingen (indien abnormaal)</label>
                <input type="text" class="form-control" id="note" th:field="*{notes}">
            </div>
            <button class="btn btn-primary">Opslaan</button>
        </form>
    </div>





</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>