<!DOCTYPE html>
<html lang="NL-nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<div th:replace="fragments/general :: baseHeader"></div>
<body>

<div class="container">

    <div th:replace="fragments/general :: navbar"></div>

    <form class="has-validation" th:action="@{/feeding/new}" method="post" th:object="${feeding}">
        <div class="form-group">
            <label for="date">Datum</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
            <label for="timeGiven">Wanneer?</label>
            <input type="time" class="form-control" id="timeGiven" th:field="*{timeGiven}">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="breastMilk" th:field="*{breastMilk}">
            <label class="form-check-label" for="breastMilk">Moedermelk</label>
        </div>
        <div class="form-group">
            <label for="breast">Welke borst?</label>
            <input type="text" class="form-control" id="breast" th:field="*{breast}">
        </div>
        <div class="form-group">
            <label for="timeSpent">Minuten</label>
            <input type="number" class="form-control" id="timeSpent" th:field="*{timeSpent}">
        </div>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </form>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>